aenum==3.1.11
cffi==1.15.0
contextlib2==21.6.0
cryptography==3.1.1
mypy==0.930
mypy-extensions==0.4.3
path==16.3.0
pigpio==1.78
py-qmc5883l==0.1.1
PyBluez==0.23
pycparser==2.21
python-dotenv==0.19.2
rssi==1.0.2
schema==0.7.5
six==1.16.0
smbus==1.1.post2
tinydb==4.6.1
tomli==2.0.0
typing_extensions==4.0.1
